@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.sdp {
    --theme-color: #8b5cf6 !important; /* violet color */
  };

  .sdp {
    --selected-date-color: #eeeeee !important; /* light-gray color */
  };
  
  .sdp {
    --font: 'Kollektif', sans-serif !important;
  };